#tilemap, #pathmap{
    position: absolute;
    top: 10; /* Adjust as needed */
    left: 10; /* Adjust as needed */
    /* display: grid; */
    /* grid-template-columns: repeat(16, 16px); Adjust as needed */
    /* grid-gap: 0; */
}

#tilemap img, #pathmap img {
    /* width: 16px; */
    /* height: 16px; */
    margin: 0;
    padding: 0;
}

#pathmap {
    pointer-events: none; /* Make the canvas transparent to mouse events */
}