# NOTE: Install jax manually from online instructions, after installing these requirements
# jax>=0.2.26
# jaxlib>=0.1.74
# jax[cuda12_pip] -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
gymnax
evosax
distrax
optax
flax
numpy
pandas
hydra-core
submitit
imageio
tensorboard
tensorboardX
